@{
    ViewBag.Title = "ContractList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CMSNavBar
{
    <ul class="nav navbar-nav" style="margin-left: 100px;">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
    </ul>
}

<h2>Contract List</h2>

